@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --font-display: "Bebas Neue", sans-serif;
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
}